#=======BROADCAST=========#
#=========================#
BROADCAST_IP=192.168.56.255
BROADCASTER_PORT=9999


#=========================#
#=======BROADCAST=========#
#======smartDevice========#
#=========================#
BROADCAST_SMART_DEVICE_PORT=9988
MOCK_SMART_DEVICE_SERVER_PORT=5551

#=========================#
#=====exposed server======#
#=========================#
SERVER_HOSTNAME=0.0.0.0
SERVER_PORT=5051

#=========================#
#===internal ros bridge===#
#=========================#
ROSBRIDGE_HOST=localhost
ROSBRIDGE_PORT=9090

#=========================#
#=======Time Zones========#
#=========================#
TZ='Africa/Cairo'
LOCALE='en-GB'


#=========================#
#========MOCKING==========#
#=========================#
SMART_DEV_PORT=19803