#=========================#
#=======BROADCAST=========#
#=========================#
BROADCAST_PORT=9988


#=========================#
#=======BROADCAST=========#
#======smartDevice========#
#=========================#
SMART_DEV_PORT=80


#=========================#
#=====exposed server======#
#=========================#
SERVER_HOSTNAME=0.0.0.0
SERVER_PORT=5051

#=========================#
#===internal ros bridge===#
#=========================#
ROSBRIDGE_HOST=localhost
ROSBRIDGE_PORT=9090

#=========================#
#=======Time Zones========#
#=========================#
TZ='Africa/Cairo'
LOCALE='en-GB'
